body {
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: white;
}

.player {
  position: relative;
  width: 50%;
  height: 100%;
}

.red {
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: linear-gradient(
    to right,
    #ea4335,
    #f23374,
    #dc49af,
    #a66bdd,
    #4285f4
  );
}

.blue {
  background-color: #4285f4 !important;
}

.full-width {
  width: 100vw;
}

.half-width {
  width: 50vw;
}

.hidden {
  display: none;
}

.visible {
  display: visible;
}

button {
  border-radius: 0 !important;
  margin: 0;
}

.fullscreen-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

.round {
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
}

.next {
  position: absolute;
  top: 40%;
  right: 20px;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  font-size: 4em !important;
  z-index: 1000;
}

.teamContainer {
  position: relative;
  height: 100%;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

/* stylelint-disable */
.gameOver {
  align-items: center;
  background-image: linear-gradient(
    to right,
    #ea4335,
    #f23374,
    #dc49af,
    #a66bdd,
    #4285f4
  );
  display: flex;
  justify-content: center;
  width: 100%;
}
/* stylelint-enable */

/* Chart */
.chart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart {
  height: 50%;
}

.input {
  display: flex;
  justify-content: center;
  min-width: 33%;
  margin-top: 1vh;
}

/*  Semantic */
.ui.grid {
  height: inherit;
}
