body {
  color: white;
}

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  color: white;
}

.red {
  background-color: #ea4335 !important;
}

.blue {
  background-color: #4285f4 !important;
}

.team {
  color: #2a2a2a;
  background-color: #fbbc05;
  width: 50vw;
  position: relative;
  left: calc(-25vw + 50%);
}

.team-fullscreen {
  color: #2a2a2a;
  background-color: #fbbc05;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.shadow {
  box-shadow: 0 0.5em 0 0.025em rgba(0, 0, 0, 0.15);
}

.shadowtext {
  text-shadow: 0 0.06em 0 rgba(0, 0, 0, 0.15);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  height: 100% !important;
  margin-bottom: 2em;
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.button {
  border-radius: 0 !important;
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.shared {
  height: 100%;

  /* padding-bottom: 2em; */
}

.grid {
  height: 100%;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
  line-height: 0.9;
}

#fullscreen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
