.landing-div {
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: linear-gradient(
    to right top,
    #ea4335,
    #f23374,
    #dc49af,
    #a66bdd,
    #4285f4
  );
  width: inherit;
  text-align: center;
}

.landing-welcome {
  display: block;
  margin-top: 160px !important;
  font-size: 64px;
}

.landing-connect {
  display: block !important;
  margin: 160px auto !important;
}

.landing-button {
  border-radius: 0 !important;
  display: block !important;
  margin: 16px auto !important;
  min-width: 25vw;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  min-width: 25vw;
}

/* loading dots */

.loading::after {
  content: " .";
  animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
