.container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    color: white;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

#switcher {
    height: 10%;
}

.row {
    height: 33%;
}

.grid {
    height: 100%;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}
