body {
    color: white;
}
.container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    color: white;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.no-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    height: 100% !important;
    margin-bottom: 2em;
}

.button {
    border-radius: 0px !important;
}

.shared {
    height: 103%;
    padding-bottom: 2em;
}

.grid {
    height: 100%;

}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
    line-height: 0.9;
}

#points {
}
